@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}
h4{
	font-size: 20px;
}
p{
	font-size: 12px;
}
input{
	outline: none;
}
input::placeholder{
	font-size: 12px;
}

button{
	transition: 0.5s;
}
.white-btn:hover {
	background: #4B40BB;
	color: white;
	transition: 0.5s;
}
.btn:hover{
	border: 1px solid #4B40BB;
	background: rgb(255, 255, 255);
	color: #4B40BB;
	transition: 0.5s;
}
